h2{
    font-size: 1.75em; /* 28/16=1.75 */
}

h1{
    color: #C0262c;
    border-bottom: #C0262c solid thin;
    padding-bottom: 7px;
}

p{
    font-size: 1.1em;
    line-height: 1.3;
    text-align: justify;
}

p:first-line {
    font-size: 1.17em;
    font-variant: small-caps;
    font-weight: bolder;
    font-style: italic;
}

hr{
    border-color: #C0262c;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

